name: Mirror main to public repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout private repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Mirror to public repo
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ secrets.PUBLIC_REPO_URL }}
          ssh_private_key: ${{ secrets.PUBLIC_REPO_SSH_KEY }}
          source_branch: "main"
          target_branch: "main"
